@charset "UTF-8";

/*common*/
html {
  font-size: 100%;
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  color: #555;
  line-height: 1.5;
}

img {
  width: 100%;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*header*/
header {
  border-top: 8px solid #8c6239;
  background-color: #8c6239;
}

.header_logo {
  width: 50px;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-left: 30px;
}

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
}

header nav ul li a:hover,
header nav ul li a:active,
header nav ul li.current a {
  color: #555;
}

#main_image {
  width: 100%;
  height: 50vh;
  background-image: url(../images/cafe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*contents*/
.contents {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#main_contents {
  width: 65%;
}

#sidebar {
  width: 31%;
}

#home h2 {
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #a67c52;
  font-size: 1.2rem;
}

#home h3 {
  margin-bottom: 20px;
  padding-bottom: 5px;
  /* border-bottom: 1px solid #a67c52; */
  font-size: 1.2rem;
}

#place dl {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#place dl dt {
  width: 7em;
}

#place dd {
  width: calc(100% - 7em);
}

#place dt,
#place dd {
  margin-bottom: 10px;
}

#campaign ul li {
  margin-bottom: 10px;
  list-style-type: none;
}

#drink ul li {
  margin-bottom: 20px;
  list-style-type: none;
}

/*footer*/
footer {
  margin-top: 100px;
  padding: 30px;
  text-align: center;
  background-color: #a67c52;
  color: #ffffff;
}

footer ul {
  margin-bottom: 20px;
  font-size: 0.9rem;
  /* display: flex;
  justify-content: space-around; */
  /* list-style-type: none; */
}

footer ul li {
  display: inline-block;
  margin: 5px;
}

footer ul li a {
  color: #ffffff;
  text-decoration: none;
}

footer ul li a:hover,
footer ul li a:active {
  opacity: .7;
}

small {
  font-size: 0.7rem;
}

/*responsive*/

@media(max-width: 600px) {
  html {
    font-size: 87.5%;
  }

  .header_logo {
    width: 60px;
  }

  .contents {
    flex-direction: column;
    margin-top: 10px;
  }

  #main_contents {
    width: 100%;
  }
}